<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Profil</title>
	</head>

	<body>
		<h1>Profile</h1>
		<p>Bienvenue sur votre page profile</p>
		<ul>
			<li>Email :{{ email }}</li>
			<li>
				Password :
				{{ password }}</li>
		</ul>
		<a href="{{base_url}}/logout">Se déconnecter</a>
	</body>

</html>
